<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>CSCI 4140 - Motion Tracking Demo</title>

      
      <!-- Custom js-->
      <script src='js/motion-tracking.js'></script>
      
<script>


</script>
</head>   
<body style="background-color: #bfbfbf">

  
  <div class="main">
    <h2>Device Motion</h2>
    <table>
      <tr>
          <td>Event Supported</td><td id="dmEvent"></td>
        </tr>
      <tr>
        <td>acceleration</td><td id="moAccel"></td>
      </tr>
      <tr>
        <td>accelerationIncludingGravity</td><td id="moAccelGrav"></td>
      </tr>
      <tr>
        <td>rotationRate</td><td id="moRotation"></td>
      </tr>
      <tr>
        <td>interval</td><td id="moInterval"></td>      
      </tr>
      <tr>
        <td>Calculated velocity</td><td id="moVelocity"></td>       
      </tr>
      <tr>
        <td>Calculated displacement</td><td id="moDisplacement"></td>       
      </tr>
     
    </table>
  </div>
  </body>
</html>