.btn-remote {
    padding-top: 20px;
    padding-bottom: 20px;
}
hr {
    margin-top: 10px;
}

.button1_1 {
    background-color: #FCF1F0;
}
.button1_2 {
    background-color: #F5D1D0;
}
.button1_3 {
    background-color: #EEB2B0;
}
.button1_4 {
    background-color: #E79290;
}
.button1_5 {
    background-color: #E0736F;
}
.button2_1 {
    background-color: lighten(@brand-warning, 90%);
}
.button2_2 {
    background-color: lighten(@brand-warning, 70%);
}
.button2_3 {
    background-color: lighten(@brand-warning, 50%);
}
.button2_4 {
    background-color: lighten(@brand-warning, 30%);
}
.button2_5 {
    background-color: lighten(@brand-warning, 10%);
}
.button3_1 {
    background-color: lighten(@brand-success, 90%);
}
.button3_2 {
    background-color: lighten(@brand-success, 70%);
}
.button3_3 {
    background-color: lighten(@brand-success, 50%);
}
.button3_4 {
    background-color: lighten(@brand-success, 30%);
}
.button3_5 {
    background-color: lighten(@brand-success, 10%);
}
.button4_1 {
    background-color: lighten(@brand-primary, 90%);
}
.button4_2 {
    background-color: lighten(@brand-primary, 70%);
}
.button4_3 {
    background-color: lighten(@brand-primary, 50%);
}
.button4_4 {
    background-color: lighten(@brand-primary, 30%);
}
.button4_5 {
    background-color: lighten(@brand-primary, 10%);
}
